.user-edit__box {
  padding: 30px 0;
  border-top: 2px solid rgba(240, 240, 240, 1);
  border-bottom: 2px solid rgba(240, 240, 240, 1);
}

.desktop-header{
  display: block;
}

.mobile-header{
  display: none;
}

@media (max-width: 576px) {

  .responsive-container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 540px;
  }

  .desktop-header{
    display: none;
  }

  .mobile-header{
    display: block;
    button{
      border: none;
      background-color: transparent;
    }
  }

  .save-button{
    width: 100%;
  }
}
